GridPane {
    -fx-background-color: #a795c1;
    -fx-pref-width: 600px;
    -fx-pref-height: 500px;
}
#mainLabel {
    -fx-font-family: "Verdana";
    -fx-font-size: 40px;
    -fx-alignment: CENTER;
}
#secondLabel {
    -fx-font-family: "Verdana";
    -fx-font-size: 15px;
    -fx-text-fill: #670101;
    /*-fx-border-style: 2px solid black;*/
    /*-fx-border-style: solid;*/
    /*-fx-border-width: 2;*/
    /*-fx-border-color: black;*/
}
#vitalsLabel {
    -fx-font-family: "Verdana";
    -fx-font-size: 12;
    -fx-padding: 10;
}
#imgPane,
#imgView{
    -fx-background-color: white;
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    /*-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );*/

}
#playGamePane {
    -fx-background-color: #a795c1;
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );

    /*-fx-background-radius: 6;*/
    /*-fx-border-style: solid;*/
    /*-fx-border-width: 2;*/
    /*-fx-border-radius: 5;*/
    /*-fx-border-color: black;*/
}
#menuVBox,
#newGameBox {
    -fx-spacing: 20;
}
#playGameVBox {
    -fx-max-width: 160px;
    -fx-max-height: 350px;
    -fx-spacing: 10;
}
Button {
    /*-fx-background-color:*/
    /*        #3f4c66,*/
    /*        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),*/
    /*        linear-gradient(#20262b, #191d22),*/
    /*        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));*/
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Verdana";
    /*-fx-text-fill: linear-gradient(black, #d0d0d0);*/
    -fx-font-size: 15px;
    -fx-padding: 10 20 10 20;
    -fx-pref-width: 160px;
}

#menuButton {
    -fx-text-fill: #522a85;
}


