GridPane {
    -fx-background-color: #8f6cb8;
    -fx-pref-width: 600px;
    -fx-pref-height: 500px;
}
#mainLabel {
    -fx-font-family: "Verdana";
    -fx-font-size: 40px;
    -fx-pref-width: 600px;
    -fx-pref-height: 60px;
    -fx-alignment: CENTER;
}

Pane {
    -fx-pref-width: 420px;
    -fx-pref-height: 350px;
    -fx-alignment: CENTER;
    -fx-background-color: white;
    -fx-background-radius: 6;

    -fx-border-style: solid;
    -fx-border-width: 2;
    /*-fx-border-insets: 5;*/
    -fx-border-radius: 5;
    -fx-border-color: black;
}

#secondLabel {
    -fx-font-family: "Verdana";
    -fx-font-size: 15px;
    -fx-text-fill: #5c1388;
    -fx-alignment: CENTER;
    -fx-text-alignment: CENTER;

    -fx-pref-width: 420px;
    -fx-pref-height: 40px;
}

VBox {
    -fx-text-alignment: CENTER;
    -fx-max-width: 100px;
    -fx-max-height: 350px;

    -fx-spacing: 20;
    /*-fx-padding: 20;*/

    /*-fx-border-style: solid;*/
    /*-fx-border-width: 2;*/
    /*-fx-border-insets: 5;*/
    /*-fx-border-radius: 5;*/
    /*-fx-border-color: red;*/
}

Button {
    /*-fx-background-color:*/
    /*        #3f4c66,*/
    /*        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),*/
    /*        linear-gradient(#20262b, #191d22),*/
    /*        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));*/
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Verdana";
    /*-fx-text-fill: linear-gradient(black, #d0d0d0);*/
    -fx-font-size: 15px;
    -fx-padding: 10 20 10 20;
    -fx-pref-width: 150px;

    /*-fx-border-width: 2;*/
    /*-fx-border-insets: 5;*/
    /*-fx-border-radius: 5;*/
    /*-fx-border-color: red;*/
}

#menuButton {
    -fx-text-fill: red;
}


